/* .swipeContainer {
  width: 100%;
  display: flex;
  overflow-y: auto;
  position: relative;
  scroll-snap-type: x mandatory;
}

.swipeAble {
  min-width: 100%;
  min-height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */
