.shopname {
  position: relative;
  font-weight: 800;
  font-size: 1.42857rem;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-decoration: initial;
  margin: 26px 0px 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
